* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    place-items: center;
}

body {
    font-family: monospace;
    font-size: 2rem;
    min-height: 100vh;
    display: grid;
    overflow-y: hidden;
    place-items: center;
    background: linear-gradient(-45deg, black,gray);
}

.hr,
.min,
.sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    grid-row: 1/2;
    align-items: start;
}

.number {
    padding: 0.5em;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    color: gray;
    transition: all 500ms 100ms ease;
    border-radius: 50%;
}

.number.pop {
    color: white;
    font-weight: bolder;
    transform: scale(1.4);
    background-color: rgba(0,10,0,0.3);
    box-shadow: -10px -5px 20px -5px grey, 10px 10px 20px rgba(0,10,0,0.7);
}

.strip {
    transition: transform 500ms ease-in-out;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: -10px -10px 20px -5px grey, 10px 10px 20px rgba(0,10,0,0.7);
}

.clock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    height: 4rem;
    position: relative;
    padding: 0 4rem;
}
